# ignore the temporary files emacs creates
**/#*
.tramp_history

# ignore logfiles and other stuff
**/*.log
*.log
**/*.out
*.out
**/*.pdf
*.pdf
**/*.root
*.root
**/*.pyc
*.pyc

# executables. TODO: find an easier way to do this once there are too many to keep track of
TFile_utils/printRootFile
TFile_utils/saveCanvas
TGraph_utils/test/testTGAData
TGraph_utils/test/testPoint
EventMixer/src/simpleMixer

# ignore some folders (for now)
macros/
scripts/
test/
**/bin/